<section class="featured-recipes">

  <div class="margin-btm-60"></div>
<div class="row">
  <div class="col-md-12">
    <h3 style="text-align:center;">Latest Recipes</h3>
  </div>
</div>
<div class="margin-btm-30"></div>
<div class="row">
      <div class="col-md-6 cta-container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(https://i.imgur.com/FWR6c99.jpg);" >
        <div class="cta-info">
          <a href="/recipe/homemade-cheeseburger">
            <p class="cta-title">Homemade Cheeseburger</p>
            <p class="cta-date">October 12, 2020</p>
          </a>
        </div>
      </div>


      <div class="col-md-6 cta-container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(https://i.imgur.com/CGWX5LO.jpg);" >
        <div class="cta-info">
          <a href="/recipe/breakfast-tacos">
            <p class="cta-title">Breakfast Tacos</p>
            <p class="cta-date">October 10, 2020</p>
          </a>
        </div>
      </div>
</div>


<div class="row">
      <div class="col-md-6 cta-container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(https://i.imgur.com/4nU26vF.jpg?1);" >
        <div class="cta-info">
          <a href="/recipe/spaghetti-aglio-e-olio">
            <p class="cta-title">Spaghetti Aglio e Olio</p>
            <p class="cta-date">October 09, 2020</p>
          </a>
        </div>
      </div>

      <div class="col-md-6 cta-container" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(https://i.imgur.com/WPGFnp4.jpg);" >
        <div class="cta-info">
          <a href="/recipe/the-perfect-steak">
            <p class="cta-title">The Perfect Steak</p>
            <p class="cta-date">October 11, 2020</p>
          </a>
        </div>
      </div>
</div>


</section>
