
    <section class="footer">
      <div class="padding-btm-60"></div>
      <div class="container">
        <div class="row justify-content-center">

        <div class="padding-btm-60"></div>

        <%
          var d = new Date();
        %>
        <div class="col-md-6 footer-copyright">
          <span class="footer-copyright">Adobo Bacon <i class="far fa-copyright"></i> <a href="/login" class="footer-login-link"><%= d.getFullYear() %></a></span>

          <div class="margin-btm-30"></div>

          <div class="social">
          <a href="https://www.facebook.com/adobobacon" target="_blank" title="a link to the adobo bacon facebook page"> <i class="fa fa-facebook"></i> </a>
          <a href="https://www.instagram.com/adobobacon/" target="_blank" title="a link to the adobo bacon instagram page"><i class="fa fa-instagram"></i></a>
          </div>

          <div class="margin-btm-30"></div>

        </div>



        <div class="padding-btm-30"></div>
      </div>
  </section>




</body>
</html>
