<div class="row">

  <div class="col-md-12">
      <form class="needs-validation" action="/search" method="get" novalidate>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12 has-search">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="search" class="form-control" id="recipeSearchBar" name="q" aria-describedby="recipeSearchHelp" placeholder="Type in keywords like 'steak', 'tacos', or 'soup'" autocomplete="off">

              <small id="recipeSearchHelp" class="form-text">Find a recipe you'll love!</small>
            </div>

          </div>
        </div>
      </form>
  </div>
</div>
