<!---------------------------------------------------------
Start Header
----------------------------------------------------------->
<%- include("partials/header") -%>
<meta property="og:title" content="Adobo Bacon">
<meta property="og:description" content="Adobo Bacon is a personal database of recipes I've tried and have served to family and friends.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://adobobacon.com/">
<meta property="og:image" content="http://adobobacon.com/images/kevin_intense.jpg">
<meta property="og:image:secure_url" content="https://adobobacon.com/images/kevin_intense.jpg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="800" />


<title>Adobo Bacon | About</title>

</head>
<body>
<%- include("partials/navbar") -%>
<!---------------------------------------------------------
End Header
----------------------------------------------------------->
<div class="margin-btm-30"></div>



<div class="container">

  <div class="row">
    <div class="col-md-12 sitehead-logo">
      <img class="adobobacon-logo img-fluid" src="../images/AdoboBaconLogo-transparent.svg" alt="adobobacon logo">
    </div>
  </div>
<div class="margin-btm-30"></div>
  <div class="row">
    <div class="col-md-12">
      <h3>About Me</h3>
      <figure class="figure float-right">
        <img src="../images/kevin_intense.jpg" class="figure-img img-fluid rounded" alt="a picture of Kevin Ting" height="250" width="250">
        <figcaption class="figure-caption">It was a very intense breakfast.</figcaption>
      </figure>
      <p>
        Hi there! My name's Kevin, and I'd like to welcome you to my vanity project. I'm a web developer by day and still a web developer by night!<br>
        My interest in cooking started when my doctor told me I needed to make lifestyle changes to avoid getting a heart attack. With a renewed appreciation for life,
        I started cooking my own meals rather than eating out, and eventually, I found Youtube channels like <a href="http://www.youtube.com/bgfilms">Binging with Babish</a>, <a href="https://www.youtube.com/user/BonAppetitDotCom">Bon Appetit</a>'s Brad Leone,
        <a href="https://www.youtube.com/c/JoshuaWeissman">Joshua Weissman</a>, and of course, <a href="https://www.youtube.com/user/gordonramsay">Gordon Ramsay</a>. <br><br>
        I'm nowhere near as good as these guys, but I appreciate how they make cooking so much fun. And ultimately, that's what I want to achieve with this site, too.
        <br><br>

      </p>
      <div class="margin-btm-30"></div>
    </div>
  </div>


<div class="row">
  <div class="col-md-12">
    <h3>About this site</h3>
    <p>
        <strong>Epic Meal Time</strong> posted this <a href="https://youtu.be/4E9RW-p2Ssg">video</a> 4 years ago where they created a Filipino Cheesesteak. There's a short montage of Amir saying "Adobo Bacon!" multiple times, and the name has stuck with me since.
        Coincidentally, I'm a Filipino living in the United States, I thought Adobo and Bacon represented the Philippines and United States well, so that's how I ended up with the name.
        <br><br>
        So about the purpose of this site..have you ever tried to follow a recipe online, but you have to read through paragraphs
        and paragraphs of content before you even get to the ingredients list? Not to mention those ads--especially the ones that popup!
        Yeah, I grew tired of that, so I created a website where I can keep records of
        the recipes I've tried and look them up again whenever I want.
        <br><br>
        That's right. I created this site myself. You see, I've made it a goal to create something fun and cool every year. Sort of a project that would keep me busy for weeks and even months. <br>
        <br>
        For more technical stuff, I created this site using a <a href="https://www.geeksforgeeks.org/mern-stack/">MERN stack</a> (MongoDB, Express, React, Nodejs).
        Well, the React part is still a work-in-progress, as I want this site to bring up what I and the users need real quick.<br>
        I will personally be maintaining this site, and will improve on it as I learn more about this stack I'm using. So watch out for cool features in the future!
    </p>

      <p>The recipes I post on here are recipes I've tried and have served to family and friends. Once I get their approval saying it tastes great, I post it here. <br>
        This is not meant to be a blog, but meant to be a database on which I can search up past recipes on the go. But I'm keeping it flexible for any opportunities that might arise later on.
      </p>

      <p>
        Well, I've said too much already. Let's start cooking!
      </p>

  </div>

</div>

</div>




</div>
<div class="padding-btm-60"></div>
<%- include("partials/footer") -%>
